.Homepage .title {
  text-align: center;
  font-size: 62px;
}
.Homepage .detail {
  text-align: center;
  font-size: 24px;
}
.Homepage .prompt {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15em;
}

.Homepage {
  margin: 0 auto;
}
