.form {
  border-radius: 4px;
  padding: 14px 18px;
}

#eyeButton {
  background: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  main .container {
    width: 400px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  main .container {
    width: 400px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  main .container {
    width: 400px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  main .container {
    width: 400px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  main .container {
    width: 450px;
  }
}
