.delete-poll-option-button {
  margin-top: 1em;
  padding: 0 0.75em;
  height: 2em;
  align-self: center;
}

.button-placeholder {
  width: 2.5em;
}

.poll-option {
  display: flex;
}

.poll-option-field {
  width: 90%;
  margin-left: 1em;
}
