.UserRegistrationPage.main-container {
  margin: 0 auto;
  width: 500px;
  display: inline;
}

.UserRegistrationPage .row {
  width: 980px;
  margin: 0 auto;
}

.UserRegistrationPage .col {
  padding: 20px;
}

.UserRegistrationPage h2 {
  font-size: 42px;
}

.UserRegistrationPage h3 {
  font-size: 24px;
}
.UserRegistrationPage .main-child {
  width: 400px;
}
.UserRegistrationPage .regis-form-field {
  margin: 0 auto;
  justify-content: center;
}

.UserRegistrationPage .registration-form {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 14px 18px;
}

.UserRegistrationPage .register-button {
  padding: 3px;
}

.UserRegistrationPage .required-label {
  margin-left: 0.2em;
  color: red;
}

.UserRegistrationPage #loginText {
  font-size: 13px;
  margin: 2px;
  margin: 0 auto;
  width: 500px;
}
