.main-container {
  margin: 0 auto;
  width: 500px;
}
.registrationTitle {
  margin: 0 auto;
  width: 500px;
  padding-bottom: 7px;
}

.registration-form {
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 14px 18px;
  width: 500px;
  margin: 0 auto;
}

.register-button {
  padding: 3px;
}
