.UserRegistrationPage.main-container {
  margin: 0 auto;
  width: 500px;
}
.UserRegistrationPage .registrationTitle {
  margin: 0 auto;
  width: 500px;
  padding-bottom: 7px;
}

.UserRegistrationPage .registration-form {
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 14px 18px;
  width: 500px;
  margin: 0 auto;
}

.UserRegistrationPage .register-button {
  padding: 3px;
}

.UserRegistrationPage #loginText {
  font-size: 13px;
  padding: 0;
  margin: 2px;
}
