.UserLoginPage.main-container {
  margin: 0 auto;
  display: inline;
}

.UserLoginPage .row {
  width: 980px;
  margin: 0 auto;
}

.UserLoginPage h2 {
  font-size: 42px;
}

.UserLoginPage h3 {
  font-size: 24px;
}

.UserLoginPage .col {
  padding: 20px;
}
.UserLoginPage .main-child {
  width: 400px;
}
.UserLoginPage .login-form-field {
  margin: 0 auto;
  justify-content: center;
}
.UserLoginPage .login-form {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 14px 18px;
}

.UserLoginPage #createAccountText {
  font-size: 13px;
  padding: 0;
  margin: 2px;
}

.UserLoginPage #eyebutton {
  background: none;
}
