.UserProfilePage.containerDiv {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.UserProfilePage .profileTitle {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-top: 20px;
}

.UserProfilePage .nameDivider {
  margin: 0.5px;
}
