.main-container {
  margin: 0 auto;
  display: inline;
}

.mainRow {
  width: 980px;
  margin: 0 auto;
}

.main-child {
  width: 400px;
}
.login-form-field {
  margin: 0 auto;
  justify-content: center;
}
.login-form {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 14px 18px;
}

#createAccountText {
  font-size: 13px;
  padding: 0;
  margin: 2px;
}

#eyebutton {
  background: none;
}
