.PollOptionInput .delete-poll-option-button {
  margin-top: 1em;
  padding: 0.25em 0.75em;
  white-space: nowrap;
  align-self: center;
}
.PollOptionInput .button-placeholder {
  width: 2.45em;
}
.PollOptionInput.poll-option {
  display: flex;
}
.PollOptionInput .poll-option-field {
  width: 100%;
  margin-left: 1em;
}
