.PollPage .title {
  text-align: center;
  margin-bottom: 1em;
}
.PollPage .selected-option {
  background-color: rgba(0, 100, 150, 0.3);
}
.PollPage .vote-count {
  float: right;
}
.PollPage .back-button {
  margin-left: 2em;
}

.PollPage .center {
  display: flex;
  justify-content: center;
}

.PollPage .copy-poll-link-button {
  border-radius: 25px;
  height: 38px;
  text-align: center;
  font-size: 14px;
  font-weight: 350;
}

.PollPage .vote-ratio-bar {
  padding: 5px 0 5px 1em;
}

.PollPage .voteButton {
  padding: 0.5em;
  width: 25%;
  font-size: 18px;
}

.PollPage .text-center {
  text-align: center;
}

.PollPage .loading-text {
  font-size: 2em;
  padding-top: 0.25em;
}

.PollPage .topButtons {
  display: flex;
  margin: 0 auto;
  width: 70%;
  justify-content: space-between;
}
