.PollListItem {
  padding: 0.5em 1em;
  font-family: Helvetica;
  font-weight: 500;
}

/* .PollListItem .poll-title {
  
} */

.PollListItem.hover {
  background-color: rgba(120, 81, 169, 0.3);
}

.PollListItem.expired {
  background-color: rgba(0, 0, 0, 0.2);
}

.PollListItem.expired-hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.PollListItem .inline-block {
  display: inline-block;
}

.PollListItem .float-right {
  float: right;
}
