.PollPage .title {
  text-align: center;
  margin-bottom: 1em;
}
.PollPage .selected-option {
  background-color: rgba(0, 100, 150, 0.3);
}
.PollPage .vote-count {
  /* display: inline-block; */
  float: right;
}
.PollPage .back-button {
  margin-left: 2em;
}

.PollPage .copy-poll-link-button {
  padding: 0 0.5em;
  margin-left: 47%;
}

.PollPage .center {
  display: flex;
  justify-content: center;
}

.PollPage .vote-ratio-bar {
  padding: 5px 0 5px 1em;
}

.PollPage .text-center {
  text-align: center;
}

.PollPage .loading-text {
  font-size: 2em;
  padding-top: 0.25em;
}
