.PollList {
  width: 80%;
  margin: 0 auto;
}

.PollList .paginator {
  width: 1em;
  text-align: center;
}

.PollList .empty-list {
  font-size: 1.5em;
  text-align: center;
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
